    
{
  "check-coverage": true,
  "lines":70,
  "statements":70,
  "functions":70,
  
    "include": [
      "src/**/*.ts",
      "src/**/*.tsx"
    ],
    "extension": [
      ".ts",
      ".tsx"
    ],
    "exclude": [
      "**/*.d.ts",
      "**/*.js",
      "test/**/*.spec.ts",
        "coverage"
    ],
    "require": [
      "ts-node/register"
    ],
    "sourceMap": true,
    "instrument": true,
  "reporter": [
    "lcov",
    "text-summary"
  ]
}